<mat-nav-list>
  <a
    class="nav-list-item"
    mat-list-item
    routerLink="/home"
    (click)="onCloseSidenav()">
    HOME
  </a>
  <div class="hr-container">
    <hr class="hr">
  </div>

  <a
    class="nav-list-item"
    mat-list-item
    routerLink="/login"
    (click)="onCloseSidenav()">
    LOGIN
  </a>
  <div class="hr-container">
    <hr class="hr">
  </div>

  <a
    class="nav-list-item"
    mat-list-item
    routerLink="/signup"
    (click)="onCloseSidenav()">
    SIGNUP
  </a>
  <div class="hr-container">
    <hr class="hr">
  </div>
  
  <a
    class="nav-list-item"
    mat-list-item
    routerLink="/exhibitions"
    (click)="onCloseSidenav()">
    <span>EXHIBITIONS</span>
  </a>

</mat-nav-list>
