:root {
  --background-color-1: white;
  --color-1: black;
  --background-color-2: black;
  --color-2: white;
  --background-color-3: lightblue;
  --color-3: green;
  --app-footer-height: 50px;
  --default-box-shadow: 0px 0px 5px 0px rgb(89, 89, 89);
  --rem-xs: 0.2rem;
  --rem-s: 0.5rem;
  --rem-ms: 0.7rem;
  --rem-m: 1rem;
  --rem-ml: 1.5rem;
  --rem-l: 2rem;
  --rem-xl: 5rem;
} 