<section fxLayout="column" fxLayoutAlign="center center">
  <h4>ADD EXHIBITION</h4>
  <div class="exhibition-form-container">
    <form [formGroup]="exhibitionForm" fxLayout="column">
      <mat-label>NAME</mat-label>
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="title">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="start-exhibition" placeholder="Start date">
          <input matEndDate formControlName="end-exhibition" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
      </mat-form-field>
      <div class="" formArrayName="artist-names">
        <h4>add artist names</h4>
        <button mat-raised-button color="primary" type="button" (click)="onAddArtistName()">ADD ARTIST NAME</button>
        <div *ngFor="let artistNamesControl of exhibitionForm.get('artist-names')?.controls; let i = index">
          <mat-form-field>
            <mat-label>ARTIST NAME</mat-label>
            <input type="text" matInput [formControlName]="i">
          </mat-form-field>
          <!-- <button mat-raised-button (click)="onCancel(i)">Cancel</button> -->
        </div>
      </div>
      <div class="slide-form-container">
        <form [formGroup]="slideForm">
          <div class="" *ngFor="let slideNamesControl of slideForm.get('slideName')?.controls; let i = index">
            <mat-form-field>
              <mat-label>SLIDE NAME</mat-label>
              <input
                type="text"
                matInput
                fromControlName="slideName">
            </mat-form-field>
          </div>
          <button type="button" (click)="onAddSlide()">ADD SLIDE</button>
        </form>
      </div>
      <button mat-raised-button color="primary" (click)="onAddExhibition()">ADD EXHIBITION</button>
    </form>

  </div>
</section>
